/* line 24, app/assets/stylesheets/_ham-menu.scss */
.header {
  background: #fff;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  /* line 24, app/assets/stylesheets/_ham-menu.scss */
  .header {
    position: fixed;
    top: 0;
  }
}

/* line 31, app/assets/stylesheets/_ham-menu.scss */
.header__nav {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease .4s;
  box-shadow: 0px 0px 6px -3px #000;
}

@media (max-width: 767px) {
  /* line 31, app/assets/stylesheets/_ham-menu.scss */
  .header__nav {
    display: block;
  }
}

/* line 47, app/assets/stylesheets/_ham-menu.scss */
.header__nav.active {
  transform: translateX(0);
}

/* line 52, app/assets/stylesheets/_ham-menu.scss */
.header__ham {
  display: none;
  width: 48px;
  height: 100%;
}

@media (max-width: 767px) {
  /* line 52, app/assets/stylesheets/_ham-menu.scss */
  .header__ham {
    display: block;
  }
}

/* line 61, app/assets/stylesheets/_ham-menu.scss */
.header__ham span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

/* line 69, app/assets/stylesheets/_ham-menu.scss */
.header__ham span:nth-child(1) {
  top: 0;
}

/* line 73, app/assets/stylesheets/_ham-menu.scss */
.header__ham span:nth-child(2) {
  margin: 8px 0;
}

/* line 77, app/assets/stylesheets/_ham-menu.scss */
.header__ham span:nth-child(3) {
  top: 0;
}

/* line 83, app/assets/stylesheets/_ham-menu.scss */
.header__ham.active span {
  background-color: #000;
}

/* line 85, app/assets/stylesheets/_ham-menu.scss */
.header__ham.active span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}

/* line 90, app/assets/stylesheets/_ham-menu.scss */
.header__ham.active span:nth-child(2) {
  opacity: 0;
}

/* line 95, app/assets/stylesheets/_ham-menu.scss */
.header__ham.active span:nth-child(3) {
  top: -9px;
  transform: rotate(-45deg);
}

/* line 104, app/assets/stylesheets/_ham-menu.scss */
.ham {
  background: #fff;
  padding: 12px 10px;
  z-index: 9999;
  border: unset;
}

/* line 112, app/assets/stylesheets/_ham-menu.scss */
.nav__items {
  width: 100%;
  line-height: 2.5;
}

/* line 117, app/assets/stylesheets/_ham-menu.scss */
.nav__item {
  margin-bottom: 20px;
}

/* line 119, app/assets/stylesheets/_ham-menu.scss */
.nav__item a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  color: black;
}

/* line 129, app/assets/stylesheets/_ham-menu.scss */
.navItems {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}
@media (max-width: 767px) {
  /* line 26, app/assets/stylesheets/_include-parts.scss */
  .pc-display {
    display: none;
  }
}

@media (min-width: 767px) {
  /* line 32, app/assets/stylesheets/_include-parts.scss */
  .sp-display {
    display: none;
  }
}

@media (max-width: 767px) {
  /* line 38, app/assets/stylesheets/_include-parts.scss */
  .l-wrap {
    padding-top: 63px;
  }
}

/* line 44, app/assets/stylesheets/_include-parts.scss */
.l-inner {
  width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 767px) {
  /* line 44, app/assets/stylesheets/_include-parts.scss */
  .l-inner {
    width: unset;
    padding: 0 15px;
  }
}

/* line 55, app/assets/stylesheets/_include-parts.scss */
.breadcrumbs {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

/* line 61, app/assets/stylesheets/_include-parts.scss */
.breadcrumbs > span {
  margin: 0 7px;
  font-size: 12px;
  position: relative;
  top: 2px;
}

@media (max-width: 767px) {
  /* line 61, app/assets/stylesheets/_include-parts.scss */
  .breadcrumbs > span {
    top: 1px;
  }
}

/* line 71, app/assets/stylesheets/_include-parts.scss */
.breadcrumbs > span:first-child {
  margin-left: 0;
}

/* line 76, app/assets/stylesheets/_include-parts.scss */
.breadcrumbs .post {
  color: #333;
}

/* line 80, app/assets/stylesheets/_include-parts.scss */
.breadcrumbs a {
  color: #777;
  font-size: 12px;
}

/* line 86, app/assets/stylesheets/_include-parts.scss */
.heading {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a1a1a1;
}

/* line 91, app/assets/stylesheets/_include-parts.scss */
.heading h1 {
  text-shadow: 0px 1px 5px #a1a1a1;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  font-size: 20px;
}

@media (max-width: 767px) {
  /* line 91, app/assets/stylesheets/_include-parts.scss */
  .heading h1 {
    padding: 60px 0;
  }
}

/* line 101, app/assets/stylesheets/_include-parts.scss */
.heading h1 span {
  display: block;
  font-size: 30px;
}
/* line 24, app/assets/stylesheets/_include.scss */
.header {
  z-index: 10;
  width: 100%;
}

/* line 28, app/assets/stylesheets/_include.scss */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
  box-shadow: 0px 3px #eee;
}

@media (max-width: 767px) {
  /* line 28, app/assets/stylesheets/_include.scss */
  .header__inner {
    padding: 10px 15px;
    height: unset;
  }
}

/* line 41, app/assets/stylesheets/_include.scss */
.header__logo {
  width: 300px;
}

@media (max-width: 767px) {
  /* line 41, app/assets/stylesheets/_include.scss */
  .header__logo {
    width: 150px;
  }
}

/* line 49, app/assets/stylesheets/_include.scss */
.header__left {
  position: relative;
}

/* line 53, app/assets/stylesheets/_include.scss */
.header__sns {
  position: relative;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (max-width: 767px) {
  /* line 53, app/assets/stylesheets/_include.scss */
  .header__sns {
    position: unset;
  }
}

/* line 65, app/assets/stylesheets/_include.scss */
.header__snsItem {
  display: block;
  margin: 0 5px;
}

@media (max-width: 767px) {
  /* line 65, app/assets/stylesheets/_include.scss */
  .header__snsItem {
    margin: 0 2px;
  }
}

/* line 72, app/assets/stylesheets/_include.scss */
.header__snsItem a {
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 30px;
}

@media (max-width: 767px) {
  /* line 72, app/assets/stylesheets/_include.scss */
  .header__snsItem a {
    width: 23px;
    padding: 3px;
    border-radius: 5px;
  }
}

/* line 85, app/assets/stylesheets/_include.scss */
.header__snsItem a:hover {
  padding: 8px;
  width: 34px;
}

@media (max-width: 767px) {
  /* line 85, app/assets/stylesheets/_include.scss */
  .header__snsItem a:hover {
    width: 23px;
  }
}

/* line 94, app/assets/stylesheets/_include.scss */
.header__snsItem a img {
  max-width: 100%;
  width: 100%;
}

/* line 101, app/assets/stylesheets/_include.scss */
.header__headNav {
  display: flex;
}

@media (max-width: 767px) {
  /* line 101, app/assets/stylesheets/_include.scss */
  .header__headNav {
    display: none;
  }
}

/* line 110, app/assets/stylesheets/_include.scss */
.header .headNav__item {
  list-style: none;
  margin: 0 20px;
}

/* line 114, app/assets/stylesheets/_include.scss */
.header .headNav__item a {
  color: #000;
}

/* line 121, app/assets/stylesheets/_include.scss */
footer {
  width: 100%;
  text-align: center;
  background: #333;
  padding: 50px 0;
  color: #fff;
  margin-top: 100px;
}

@media (max-width: 767px) {
  /* line 121, app/assets/stylesheets/_include.scss */
  footer {
    margin-top: initial;
  }
}

/* line 132, app/assets/stylesheets/_include.scss */
footer a {
  color: #fff;
}
@charset "UTF-8";
/* line 24, app/assets/stylesheets/_setting.scss */
* {
  box-sizing: border-box;
  margin: 0;
}

/* line 29, app/assets/stylesheets/_setting.scss */
html {
  scroll-behavior: smooth;
}

/* line 33, app/assets/stylesheets/_setting.scss */
html, h1, h2, h3, h4, h5, p, li, a, button, div {
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  overflow-wrap: break-word;
}

/* line 40, app/assets/stylesheets/_setting.scss */
a {
  text-decoration: unset;
  transition: .3s;
  cursor: pointer;
  display: block;
  color: #000;
}

/* line 48, app/assets/stylesheets/_setting.scss */
img {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* line 54, app/assets/stylesheets/_setting.scss */
input[type=submit] {
  padding: 10px 30px;
  margin: 0px auto;
}

/* line 59, app/assets/stylesheets/_setting.scss */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: -12px;
  background: #eee;
}

/* line 80, app/assets/stylesheets/_setting.scss */
.btn-primary {
  color: #fff !important;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

/* line 86, app/assets/stylesheets/_setting.scss */
.btn-danger {
  color: #fff !important;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* line 92, app/assets/stylesheets/_setting.scss */
.fas {
  color: #dc3545;
}

/* line 96, app/assets/stylesheets/_setting.scss */
.logo {
  width: 50%;
  margin-top: -10px;
}

@media (max-width: 767px) {
  /* line 96, app/assets/stylesheets/_setting.scss */
  .logo {
    width: initial;
    margin-top: initial;
  }
}

/* line 105, app/assets/stylesheets/_setting.scss */
.login, .logout {
  position: relative;
  right: -30px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sriracha&display=swap");
/* line 25, app/assets/stylesheets/_top.scss */
.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

@media (max-width: 767px) {
  /* line 25, app/assets/stylesheets/_top.scss */
  .avatar {
    height: 3rem;
  }
}

/* line 35, app/assets/stylesheets/_top.scss */
.top img {
  width: initial;
}

/* line 38, app/assets/stylesheets/_top.scss */
.top .bnr {
  width: 300px;
}

@media (max-width: 767px) {
  /* line 38, app/assets/stylesheets/_top.scss */
  .top .bnr {
    width: 100%;
  }
}

/* line 44, app/assets/stylesheets/_top.scss */
.top .l-inner {
  width: 1250px;
  display: flex;
}

@media (max-width: 767px) {
  /* line 44, app/assets/stylesheets/_top.scss */
  .top .l-inner {
    width: initial;
    display: initial;
  }
}

/* line 53, app/assets/stylesheets/_top.scss */
.top__mainContents .title {
  box-shadow: 0 3px #999;
}

/* line 56, app/assets/stylesheets/_top.scss */
.top__mainContents .td-title {
  margin-left: 10px;
}

/* line 59, app/assets/stylesheets/_top.scss */
.top__mainContents .flex {
  display: flex;
}

/* line 63, app/assets/stylesheets/_top.scss */
.top__sidebar {
  margin-left: 75px;
}

@media (max-width: 767px) {
  /* line 63, app/assets/stylesheets/_top.scss */
  .top__sidebar {
    margin-left: initial;
    padding: 2vw;
  }
}

@media (max-width: 767px) {
  /* line 70, app/assets/stylesheets/_top.scss */
  .top__contents {
    padding: 1vw;
    overflow-x: scroll;
  }
}

@media (max-width: 767px) {
  /* line 34, app/assets/stylesheets/_top.scss */
  .top {
    margin-top: 15vw;
  }
}

/* line 81, app/assets/stylesheets/_top.scss */
.top th:first-child, .top td:first-child {
  width: 10%;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 81, app/assets/stylesheets/_top.scss */
  .top th:first-child, .top td:first-child {
    width: 15%;
  }
}

/* line 88, app/assets/stylesheets/_top.scss */
.top td:nth-child(2) {
  width: 90%;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 88, app/assets/stylesheets/_top.scss */
  .top td:nth-child(2) {
    width: 85%;
  }
}

/* line 95, app/assets/stylesheets/_top.scss */
.top td:nth-child(3) {
  width: 0%;
  text-align: right;
}
/* line 24, app/assets/stylesheets/_users.scss */
.avatar-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

@media (max-width: 767px) {
  /* line 24, app/assets/stylesheets/_users.scss */
  .avatar-image {
    width: 5rem;
    height: 5rem;
  }
}

/* line 34, app/assets/stylesheets/_users.scss */
.session-manager-header {
  align-items: center;
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
}

/* line 41, app/assets/stylesheets/_users.scss */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: -50px;
}

@media (max-width: 767px) {
  /* line 41, app/assets/stylesheets/_users.scss */
  .alert {
    margin-top: 17vw;
    margin-bottom: -20vw;
  }
}

/* line 54, app/assets/stylesheets/_users.scss */
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* line 60, app/assets/stylesheets/_users.scss */
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* line 66, app/assets/stylesheets/_users.scss */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 20px;
}

/* line 85, app/assets/stylesheets/_users.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 92, app/assets/stylesheets/_users.scss */
.form-check {
  display: block;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
}

/* line 99, app/assets/stylesheets/_users.scss */
table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  margin-top: 30px;
}

@media (max-width: 767px) {
  /* line 99, app/assets/stylesheets/_users.scss */
  table {
    margin-top: initial;
  }
}

/* line 120, app/assets/stylesheets/_users.scss */
td {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

/* line 127, app/assets/stylesheets/_users.scss */
td:first-child {
  width: 25%;
}

/* line 130, app/assets/stylesheets/_users.scss */
td:nth-child(2) {
  width: 50%;
  text-align: center;
}

/* line 134, app/assets/stylesheets/_users.scss */
td:nth-child(3) {
  width: 25%;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 26, app/assets/stylesheets/_view.scss */
  .lists__contents {
    overflow-x: scroll;
  }
}

/* line 32, app/assets/stylesheets/_view.scss */
.lists th:first-child, .lists td:first-child {
  width: 15%;
  text-align: left;
}

/* line 36, app/assets/stylesheets/_view.scss */
.lists th:nth-child(2), .lists td:nth-child(2) {
  width: 60%;
  text-align: left;
}

/* line 40, app/assets/stylesheets/_view.scss */
.lists th:nth-child(3), .lists td:nth-child(3) {
  width: 25%;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 47, app/assets/stylesheets/_view.scss */
  .rooms__contents {
    overflow-x: scroll;
  }
}

@media (max-width: 767px) {
  /* line 46, app/assets/stylesheets/_view.scss */
  .rooms {
    margin-top: 20vw;
  }
}

/* line 56, app/assets/stylesheets/_view.scss */
.rooms th:first-child, .rooms td:first-child {
  width: 15%;
  text-align: center;
}

@media (max-width: 767px) {
  /* line 56, app/assets/stylesheets/_view.scss */
  .rooms th:first-child, .rooms td:first-child {
    width: initial !important;
  }
}

/* line 63, app/assets/stylesheets/_view.scss */
.rooms td:nth-child(2) {
  width: 60%;
  text-align: center;
}

@media (max-width: 767px) {
  /* line 63, app/assets/stylesheets/_view.scss */
  .rooms td:nth-child(2) {
    width: initial !important;
  }
}

/* line 70, app/assets/stylesheets/_view.scss */
.rooms td:nth-child(3) {
  width: 25%;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 70, app/assets/stylesheets/_view.scss */
  .rooms td:nth-child(3) {
    width: initial !important;
  }
}

/* line 77, app/assets/stylesheets/_view.scss */
.rooms .mycomment {
  margin-bottom: 20px;
}

/* line 80, app/assets/stylesheets/_view.scss */
.rooms .mycomment span {
  background: #eee;
  padding: 5px 20px;
  border-radius: 50px;
  position: relative;
  top: 5px;
}

@media (max-width: 767px) {
  /* line 92, app/assets/stylesheets/_view.scss */
  .admin__contents {
    overflow-x: scroll;
  }
}

/* line 98, app/assets/stylesheets/_view.scss */
.admin table {
  background: #000;
  color: #fff;
  padding: 10px;
}

/* line 103, app/assets/stylesheets/_view.scss */
.admin th, .admin td {
  width: initial;
  text-align: center;
}

/* line 107, app/assets/stylesheets/_view.scss */
.admin a {
  color: #fff !important;
}

@media (max-width: 767px) {
  /* line 113, app/assets/stylesheets/_view.scss */
  .profile__contents, .posts__contents {
    overflow-x: scroll;
  }
}

@media (max-width: 767px) {
  /* line 112, app/assets/stylesheets/_view.scss */
  .profile, .posts {
    margin-top: 20vw;
  }
}

/* line 122, app/assets/stylesheets/_view.scss */
.profile__content, .posts__content {
  padding: 3px 0;
}

/* line 125, app/assets/stylesheets/_view.scss */
.profile__contentItem, .posts__contentItem {
  margin: 0 15px 0 0;
}

/* line 128, app/assets/stylesheets/_view.scss */
.profile .flex, .posts .flex {
  display: flex;
}

/* line 132, app/assets/stylesheets/_view.scss */
.profile th:first-child, .profile td:first-child, .posts th:first-child, .posts td:first-child {
  width: 15%;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 132, app/assets/stylesheets/_view.scss */
  .profile th:first-child, .profile td:first-child, .posts th:first-child, .posts td:first-child {
    width: 45%;
  }
}

/* line 139, app/assets/stylesheets/_view.scss */
.profile td:nth-child(2), .posts td:nth-child(2) {
  width: 60%;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 139, app/assets/stylesheets/_view.scss */
  .profile td:nth-child(2), .posts td:nth-child(2) {
    width: initial !important;
  }
}

/* line 146, app/assets/stylesheets/_view.scss */
.profile td:nth-child(3), .posts td:nth-child(3) {
  width: 25%;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 146, app/assets/stylesheets/_view.scss */
  .profile td:nth-child(3), .posts td:nth-child(3) {
    width: initial !important;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */